@page
@model MP133.Pages.ImpressumModel
@{
    ViewData["Title"] = "Impressum";
}
<html>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>  
    </header>

    <main>
        <h2>Angaben gemäss § 3 des Bundesgesetzes gegen den unlauteren Wettbewerb (UWG)</h2>
        <p>Die folgenden Informationen stellen das Impressum der Website dar:</p>

        <dl>
            <dt>Firmenname:</dt>
            <dd>RSfunkyWeb</dd>

            <dt>Vertreten durch:</dt>
            <dd>R.Spichtig, Lauerzring 33, 6010 Kriens, Schweiz</dd>

            <dt>Telefon:</dt>
            <dd>+41 79 218 23 55</dd>

            <dl>
                <dt>E-Mail:</dt>
                <dd><a href="mailto:rolisp75@hotmail.com" style="text-decoration:none;">rolisp75@hotmail.com </a></dd>
            </dl>
        </dl>

        <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
        <p>R.Spichtig</p>

        <h2>Haftungsausschluss</h2>
        <p>Die Inhalte dieser Website wurden mit größtmöglicher Sorgfalt erstellt. Dennoch kann keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernommen werden. Insbesondere sind alle Angaben ohne Gewähr.</p>

        <h2>Urheberrecht</h2>
        <p>Die Inhalte und Werke auf dieser Website unterliegen dem schweizerischen Urheberrecht. Die Vervielfältigung, Bearbeitung oder Verbreitung der Inhalte ist ohne ausdrückliche Zustimmung des Betreibers nicht gestattet.</p>

        <h2>Verwendete Bilder und Quellen</h2>
        <p>Die auf dieser Website verwendeten Bilder und Quellen unterliegen dem Urheberrecht. Eine Verwendung der Bilder ohne Zustimmung des jeweiligen Rechteinhabers ist untersagt.</p>
    </main>

    <footer>
        
    </footer>
</body>
</html>
