@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 30px;">Willkommen auf meiner ASP.NET Webseite</h1>
    <div class="image-container" style="display: flex; justify-content: center; align-items: center; gap: 120px;">
        <a href="https://www.linkedin.com/in/roland-spichtig/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width:30px; height:30px; margin-right:8px;">
            Lass uns auf LinkedIn vernetzen
        </a>
        <img src="/images/roli.jpg" alt="Roli" class="main-img" style="margin: 0 20px;margin-bottom: 20px">
        <a href="https://github.com/Funkywoood" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width:30px; height:30px; margin-right:8px;">
            Schau dir meinen Code auf Github an
        </a>
    </div>

    <h2 class="display-6" style="margin-top: 20px; font-size: 1.5rem; font-weight: 370; line-height: 1.3; max-width: 900px; margin-left: auto; margin-right: auto;">
        "Als neu qualifizierter Software Entwickler begeistere ich mich für die Programmierung mit C# im .NET und ASP.NET Framework.
        Durch meine Ausbildung habe ich meine berufliche Erfüllung gefunden, bin ambitioniert, zielorientiert und vertrauenswürdig.
        Dank meiner schnellen Auffassungsgabe und hohen Lernbereitschaft kann ich mich rasch in neue Technologien einarbeiten."
    </h2>
</div>


